{% extends "Partials/base.twig" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/assets/style/game.css"/>
    {{ parent() }}
    <script src="/assets/js/components/Celda.js"></script>
    <script src="/assets/js/components/TableroManager.js"></script>
{% endblock %}

{% block header %}
    <section>
        <p id="jugador-game"> Jugador: {{jugador.fields.nombre}} </p>
        <p id= "puntucaion-game"> Puntuación: {{jugador.fields.puntuacion}}</p>
        <a id="ayuda">Ayuda</a>
    </section>
{% endblock %}

{% block main %}

    <section class="tablero" id="tablero">
        {% for fila in filasCasilleros %} 
            <ul class="fila" id="fila">
                {% for casillero in fila %} 
                    <li>
                        {# todo: cambiar campos de posicion a data #}
                        <button id="celda_{{casillero.fields.posicionX}}_{{casillero.fields.posicionY}}" class="celda"> </button>
                        <script>new Celda("{{casillero.fields.posicionX}}","{{casillero.fields.posicionY}}","{{casillero.fields.jugador}}")</script>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </section>

    
    
    <section id="menu-menu" >
        <label id"style-menu">Menu</label>
        <out id="menu-out"></out>
        <button id="tirar">Tirar</button>
        <button id="ocupar">Ocupar casilleros</button>
    </section>

    <section class="cartas" id="cartas">
         <a href="#" id="cartas-game">Mis Cartas</a>
    </section>
    <out id="notificacion" class="notificacion"></out>

    <section class="invisible" id="modal-ayuda">
        {{ayuda}}
    </section>

    <section class="puntuaciones" id="puntuaciones">

    </section>

    <section class="aux" id="aux">

    </section>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            HTMLContainerModifier.postConScheduler("notificacion","/getMenu?nombre-sala={{juego.fields.nombre}}", 4000, []);
            HTMLContainerModifier.postConScheduler("cartas","/getCartas?nombre-sala={{juego.fields.nombre}}", 4000, []);
            HTMLContainerModifier.postConScheduler("puntuaciones","/puntuaciones?nombre-sala={{juego.fields.nombre}}", 4000, []);
            HTMLContainerModifier.refreshObject(tableroManager, "/getCasillerosValidos?nombre-sala={{juego.fields.nombre}}", 4000);
            HTMLContainerModifier.postDinamico("menu-out","tirar","/tirar?nombre-sala={{juego.fields.nombre}}")
            HTMLContainerModifier.ocuparPostDinamico("menu-out","ocupar","{{juego.fields.nombre}}",tableroManager)
        })
    </script>
{% endblock %}