{% extends "Partials/base.twig" %}

{% block header %}
    <section>
        <p> Jugador: {{jugador.fields.nombre}} </p>
        <p> Puntuación: {{jugador.fields.puntuacion}}</p>
        <a id="ayuda">Ayuda</a>
    </section>
{% endblock %}

{% block main %}

    <li class="tablero" id="tablero">
        {% for juego in juegos %} 
            <li class="fila" id="fila">
                <button id="celda_x_y"> {{juego.nombre}} </button>
            </li>
        {% endfor %}
    </li>

    <section class="menu" id="menu">

    </section>

    <section class="cartas" id="cartas">

    </section>

    <section class="invisible" id="modal-ayuda">
        {{ayuda}}
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            HTMLContainerModifier.redirectOnClick("crearSala","/crearSala")
            HTMLContainerModifier.redirectOnClickWithParam("irASala","/sala", "innerText", "nombre")
            HTMLContainerModifier.postConScheduler("menu","/getMenu?nombre-sala={{juego.fields.nombre}}", 1000, []);
            HTMLContainerModifier.postConScheduler("menu","/getCartas?nombre-sala={{juego.fields.nombre}}", 1000, []);
        })
    </script>
{% endblock %}