{% extends "Partials/base.twig" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/assets/style/game.css"/>
    {{ parent() }}
    <script src="/assets/js/components/Celda.js"></script>
    <script src="/assets/js/components/TableroManager.js"></script>
{% endblock %}

{% block header %}
    <section class="header-juego">
        <span> Jugador: {{jugador.fields.nombre}} </span>
        <span> Puntuación: {{jugador.fields.puntuacion}}</span>
        <a id="ayuda">Ayuda</a>
    </section>
{% endblock %}

{% block main %}

    <section class="tablero" id="tablero">
        {% for fila in filasCasilleros %} 
            <ul class="fila" id="fila">
                {% for casillero in fila %} 
                    <li>
                        <button id="celda_{{casillero.fields.posicionX}}_{{casillero.fields.posicionY}}" class="celda"> A </button>
                        <script>new Celda("{{casillero.fields.posicionX}}","{{casillero.fields.posicionY}}","{{casillero.fields.jugador}}")</script>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </section>

    <section class="menu" >
        <out id="menu"></out>
        <button id="tirar">Tirar</button>
    </section>

    <section class="cartas" id="cartas">

    </section>

    <section class="invisible" id="modal-ayuda">
        {{ayuda}}
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            HTMLContainerModifier.postConScheduler("menu","/getMenu?nombre-sala={{juego.fields.nombre}}", 4000, []);
            HTMLContainerModifier.postConScheduler("cartas","/getCartas?nombre-sala={{juego.fields.nombre}}", 4000, []);
            HTMLContainerModifier.postDinamico("menu","tirar","/tirar?nombre-sala={{juego.fields.nombre}}")
        })
    </script>
{% endblock %}