{% extends "Partials/base.twig" %}


{% block main %}

    <out id="out-nombre-sala"></out>
    <label>Nombre de sala: {{nombreSala}}

    <li id="lista-jugadores">
    </li>
    

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            HTMLContainerModifier.postConScheduler("lista-jugadores","/salaObtenerListaJugadores?nombre-sala={{nombre}}", 1000, ['{{nombre}}'])
            HTMLContainerModifier.redirectWithCondition("/isJuegoListo?nombre-sala={{nombre}}", "OK", 1000, "/partida?nombre-sala={{nombre}}", {"nombre-sala" : "{{nombre}}"})
        })
    </script>
{% endblock %}