{% extends "Partials/base.twig" %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/assets/style/user-room.css"/>
{% endblock %}

{% block main %}
    <h1 class="titulo-principal"> Epidemoilogy </h1>
    {% for juego in juegos %} 
        <li>
            <button id="irASala_{{juego.nombre}}"> {{juego.nombre}} </button>
    {% endfor %}

            <button id="crearSala"> Crear sala </button>
        </li>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            HTMLContainerModifier.redirectOnClick("crearSala","/crearSala")
            {% for juego in juegos %} 
                HTMLContainerModifier.redirectOnClick("irASala_{{juego.nombre}}","/sala?nombre={{juego.nombre}}")
            {% endfor %}
        })
    </script>
{% endblock %}